<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Ring</a>
            <div class="nav-collapse span9">
                <ul class="nav" class="pull-left">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

            {% include '_login.html' %}

           <!--  <div class="nav-collapse">
                <ul class="nav" class="pull-right">
                    <li><button class="btn" data-toggle="collapse" data-target="#create-user" id="sign-in">Sign in</a></button></li>
                    <li><button class="btn" id="register-user">Register</button></li>
                </ul>
            </div> -->

        </div>
    </div>
</div>

