<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strrict//EN"

"http://w3.org/TR/xhtmll/DTD/xhtml1-strict.dtd">

<html lang="EN" dir="ltr" xmls="http://www.w3.org/1999/xhtml">
    {% include '_head.html' %}
    <body>
        {% include '_menu.html' %}
        <div class="container">
            <div class="row">
                <div class="span8">
                    {% if not uncreated %} {% include '_list-groups.html' %} 
                    <!-- TODO: change variable name to group_created (cleaner than 'not uncreated') -->
                    {% else %} <p> It doesn't look like you have any groups yet. Create one now! <br/> </p> {% endif %}
                    {% include '_create-group.html' %}
                </div>
            </div>
            {% include '_footer.html' %}
        </div>
    </body>
</html>
