<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strrict//EN"

"http://w3.org/TR/xhtmll/DTD/xhtml1-strict.dtd">

<html lang="EN" dir="ltr" xmls="http://www.w3.org/1999/xhtml">
    {% include '_head.html' %}
    <body>
        {% include '_menu.html' %}
        {% include '_group-menu.html' %}
        <div class="container">
            <div class="row">
                <div class="span8 all-threads">
                    <strong><p> All messages that have been sent</p></strong>
                    <ul>
                    {% for thread in threads %}
                        <li class='thread'> <h4>{{ thread.subject }} </h4>
                            <ul>
                                {% for message in thread.message_set.all %}
                                    <li class='hide-content message'>
                                        <div class='message-author'>{{ message.author_name }}</div>
                                        <div class='message-snippet'>{{ message.snippet }}</div>
                                        <div class='message-sent'>{{ message.sent }}</div>
                                        <div class='message-content'>{{ message.content }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <form class='send-new-message' method="get" action="send_new_message"> <!--really hacky, change to a post form -->
                            <input type="hidden" name="subject" value="{{thread.subject}}">
                            <textarea class='new-message-content' rows='3' name="content">Send a new message</textarea>
                            <div class='char-count'>0 char</div>
                            <div class='char-warning'></div>
                           <input type="submit" value="Send!">
                        </form>
                   {% endfor %}
                    </ul>

                    <strong><p> Start a new thread</p></strong>
                    <form method="get" action="send_new_message"> <!--really hacky, change to a post form -->
                        <p>Subject</p>
                        <input type="text" name="subject">
                        <p>Message Body</p>
                        <textarea name="content"></textarea>
                       <input type="submit" value="Send!">
                    </form>
                </div>
            </div>
            {% include '_footer.html' %}
        </div>
    </body>
</html>
