<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strrict//EN"

"http://w3.org/TR/xhtmll/DTD/xhtml1-strict.dtd">

<html lang="EN" dir="ltr" xmls="http://www.w3.org/1999/xhtml">
    {% include '_head.html' %}
    <body>
        {% include '_menu.html' %}
        {% include '_group-menu.html' %}
        <div class="container embedly">
            <div class="row">
                <div class="span10 pinned">
                    <h3> Pinned Items</h3>
                    <ul>
                        {% for embedly_item in embedly_items %}
                            <li class="span3">
                                <div>
                                    <a class="clear-left" href='{{ embedly_item.url }}'>
                                        {% if embedly_item.title %} {{ embedly_item.title }} 
                                        {% else %} {{ embedly_item.url }}  {% endif %}
                                    </a>
                                    <a class="clear-left" href='{{ embedly_item.provider_url }}'>
                                        <em>{{ embedly_item.provider_name }}</em>
                                    </a>
                                    <div class="clear-left">{{ embedly_item.description }}</div>
                                    <img class="embedly-thumb" src='{{ embedly_item.thumbnail_url }}' />
                                    <p class='author'>
                                        Pinned by {{ embedly_item.author_name }} 
                                        at {{ embedly_item.creation_date }}
                                    </p>
                                    <p> {{ embedly_item.caption }} </p>
                                </div> 
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="pin-new-item">
                        <h3> Pin a new item</h3>
                        <form method="get" action="pin_new_item"> <!--really hacky, change to a post form -->
                            <input onfocus="this.value=''" type="text" name="url" value="Link"> <br />
                            <textarea class='new-pin-caption' name="caption">Add a caption</textarea>
                            <button class='btn btn-primary' type="submit" value="Add">Pin</button>
                        </form>
                    </div>
                </div>
            </div>
            {% include '_footer.html' %}
        </div>
    </body>
</html>
