<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strrict//EN"

"http://w3.org/TR/xhtmll/DTD/xhtml1-strict.dtd">

<html lang="EN" dir="ltr" xmls="http://www.w3.org/1999/xhtml">
    {% include '_head.html' %}
    <body>
        {% include '_menu.html' %}
        {% include '_group-menu.html' %}
        <div class="container">
            <div class="row">
                <div class="span8">
                    <strong><p> All messages that have been sent</p></strong>
                    <ul>
                    {% for thread in threads %}
                        <li> {{ thread.subject }} 
                            <ul>
                                {% for message in thread.message_set.all %}
                                    <li>{{ message.content }}, Sent at: {{ message.sent }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        <strong><p> Add to this thread</p></strong>
                        <form method="get" action="send_new_message"> <!--really hacky, change to a post form -->
                            <input type="hidden" name="subject" value="{{thread.subject}}">
                            <p>Message Body</p>
                            <input type="text" name="content">
                           <input type="submit" value="Send!">
                        </form>
                   {% endfor %}
                    </ul>

                    <strong><p> Start a new thread</p></strong>
                    <form method="get" action="send_new_message"> <!--really hacky, change to a post form -->
                        <p>Subject</p>
                        <input type="text" name="subject">
                        <p>Message Body</p>
                        <input type="text" name="content">
                       <input type="submit" value="Send!">
                    </form>
                </div>
            </div>
            {% include '_footer.html' %}
        </div>
    </body>
</html>
