<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strrict//EN"

"http://w3.org/TR/xhtmll/DTD/xhtml1-strict.dtd">

<html lang="EN" dir="ltr" xmls="http://www.w3.org/1999/xhtml">
    {% include '_head.html' %}
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Ring</a>
                    <div class="nav-collapse span9">
                        <ul class="nav" class="pull-left">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>

                    {% include '_login.html' %}

                   <!--  <div class="nav-collapse">
                        <ul class="nav" class="pull-right">
                            <li><button class="btn" data-toggle="collapse" data-target="#create-user" id="sign-in">Sign in</a></button></li>
                            <li><button class="btn" id="register-user">Register</button></li>
                        </ul>
                    </div> -->

                </div>
            </div>
        </div>
        <div class="container">
            <div class="hero-unit">
                <h1>Welcome!</h1>
                <p>Welcome to Ring, an app to make group projects less painful.</p>
                <p>Click <a id="signup" href="#create-user"> here </a> to sign up!</p>
                <p>Click <a href="{% url socialauth_begin 'google-oauth2'%}"> here </a> to see if Google OAuth works!</p>
            </div>
            <div class="hidden">
                {% include '_user.html' %}
            </div>

            <hr>

            <footer>
                <p>&copy; Ring 2012</p>    
            </footer>
        </div>
    </body>
</html>
