<script type="text/javascript">
    $(document).ready(function() {
        $('#create-user').bind('submit', function(ev) {
            ev.preventDefault();
            console.debug(this);
            console.debug($(this));
            user.createUser($(this).serialize());
        });
    });
</script>
<script type="text/javascript" src="static/js/user.js"></script>
<script type="text/javascript" src="static/js/util.js"></script>

<div class="fancybox-content" id="create-user">
    Create a card in 3 simple steps:<br/>
    <form id="create-user-form" method="post">{% csrf_token %}
        <table>
            <tr><td>Email:</td><td><input type="text" name="email"></td></tr>
            <tr><td>Password:</td><td><input type="password" name="pw"></td></tr>
            <tr><td>Confirm Password:</td><td><input type="password" name="confirm_pw"></td></tr>
        </table>
        <p style="text-align:center;"><input type="submit" value="Create"></p>
    </form>
</div>
