<script type="text/javascript">
    $(document).ready(function() {
        $('#create-user').bind('submit', function(ev) {
            ev.preventDefault();
            user.createUser($('#create-group-form').serialize());
        });
    });
</script>
<script type="text/javascript" src="static/js/ring.js"></script>
<script type="text/javascript" src="static/js/util.js"></script>

<div class="hero-unit" id="create-group">
    <p> Create a group! <br/> </p>
    <form id="create-group-form" method="post">
    	<!--- do we need a csrf_token when creating groups? --> {% csrf_token %}
    	<input type="hidden" name="user_id" value="1">
        <table>
            <tr><td>Group Name:</td><td><input type="text" name="group_name"></td></tr>
            <tr><td>Add Users:</td><td><input type="text" name="users"></td></tr>
        </table>
        <p style="text-align:center;"><input type="submit" value="Create"></p>
    </form>
</div>